﻿@model BikeRentalCompany.Models.Order

@{
    ViewBag.Title = "Create";
}
<h2>Create Your Order</h2>
<form method="post" action="/Order/Create">
    <div class="inprow">
        <label class="inplabel">Name</label>
        <input type="text" name="order_title_new" />
    </div>
    <div class="inprow">
        <label class="inplabel">Date</label>
        <input type="text" name="order_date_new" />
    </div>
    <div class="inprow">
        <input type="submit" value="submit" />
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
