﻿@model BikeRentalCompany.Models.Order

@{
    ViewBag.Title = "Delete";
}
<h2>Order</h2>
<h3>Are you sure you want to DELETE this?</h3><hr />
<div>
    <h4>Order</h4><hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ordertitle)</dt>
            <dd>@Html.DisplayFor(model => model.ordertitle)</dd>
        <dt>@Html.DisplayNameFor(model => model.orderdate)</dt>
            <dd>@Html.DisplayFor(model => model.orderdate)</dd>
        </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>