﻿@model BikeRentalCompany.Models.Order

@{
    ViewBag.Title = "Edit";
}
<h2>Order Edit</h2>
<br />
<form method="POST" action="/Order/Edit/@Model.OrderID">

    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.ordertitle" name="Title" />
    </div>

    <div class="inprow">
        <label class="inplabel">Date</label>
        <input type="text" value="@Model.orderdate" name="Date" />
    </div>

    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>

</form>

<div>
    @Html.ActionLink("Back to List", "List")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
