﻿@model IEnumerable<BikeRentalCompany.Models.Order>

@{
    ViewBag.Title = "List";
}
<h2>Orders</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ordertitle</td>
            <td>@item.orderdate</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) | @Html.ActionLink("Details", "Details", new { id = item.OrderID }) | @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })</td>
        </tr>
    }
</table>
