﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    background-image: url(/Images/bike.png);
    background-size: 90%;
    background-repeat: no-repeat;
    height:700px;
    padding-left: 90%;
}

.inprow {
    margin-bottom: 5px;
}

    .inprow input[type="text"], .inprow textarea {
        box-sizing: border-box;
        box-shadow: none;
        border: 1px solid #e0e0e0;
        padding-left: 3px;
    }

    .inprow input[type="submit"] {
        background: #7F8184;
        border: 1px solid #e0e0e0;
        color: black;
        margin-top: 14px;
        width: 80px;
        height: 40px;
        font-weight: bold;
    }

    .inprow textarea {
        height: 80px;
        width: 400px;
    }

.inplabel {
    color: black;
    font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
