﻿@model BikeRentalCompany.Models.Client

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h3>Client</h3><hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
            <dd>@Html.DisplayFor(model => model.FirstName)</dd>
        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
            <dd>@Html.DisplayFor(model => model.LastName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
            <dd>@Html.DisplayFor(model => model.Phone)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.clientid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
