﻿@model IEnumerable<BikeRentalCompany.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>Html.ActionLink("Edit", "Edit", new { id = item.clientid }) | @Html.ActionLink("Details", "Details", new { id = item.clientid }) | @Html.ActionLink("Delete", "Delete", new { id = item.clientid })</td>
        </tr>
    }

</table>
