﻿@{
    ViewBag.Title = "Home Page";
}

<div class="maindesc">
    <h1>Bike Rental Company</h1>
    <p class="lead">Register, add your bikes and checkout your rental here</p>

</div>

<div class="row">
    <div class="col-md-8">
        <h4>@Html.ActionLink("Clients", "List", "Clients")</h4>

    </div>
    <div class="col-md-8">
        <h4>@Html.ActionLink("Bikes", "List", "Bikes")</h4>

    </div>
    <div class="col-md-8">
        <h4>@Html.ActionLink("Rental", "List", "Order")</h4>
</div>