﻿@model BikeRentalCompany.Models.Bike

@{
    ViewBag.Title = "Create";
}
<h2>Add New Bike</h2>

<form method="post" action="/Bike/Create">

    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" name="bike_title_new" />
    </div>

    <div class="inprow">
        <label class="inplabel">Type</label>
        <input type="text" name="bike_type_new" />
    </div>

    <div class="inprow">
        <label class="inplabel">Description</label>
        <textarea type="text" name="bike_description_new"></textarea>
    </div>

    <div class="inprow">
        <label class="inplabel">Price</label>
        <input type="text" name="bike_price_new" />
    </div>

    <div class="inprow">
        <label class="inplabel">Orders</label>
        <input type="text" name="bike_orders_new" />
    </div>

    <div class="inprow">
        <input type="submit" value="submit" />
    </div>

</form> <br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

