﻿@model BikeRentalCompany.Models.Bike

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to DELETE this?</h3>
<h4>Bike</h4>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.title)</dt>
            <dd>@Html.DisplayFor(model => model.title)</dd>
        <dt>@Html.DisplayNameFor(model => model.type)</dt>
            <dd>@Html.DisplayFor(model => model.type)</dd>
        <dt>@Html.DisplayNameFor(model => model.description)</dt>
            <dd>@Html.DisplayFor(model => model.description)</dd>
        <dt>@Html.DisplayNameFor(model => model.price)</dt>
            <dd>@Html.DisplayFor(model => model.price)</dd>
        <dt>@Html.DisplayNameFor(model => model.orders)</dt>
            <dd>@Html.DisplayFor(model => model.orders)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>