﻿@model BikeRentalCompany.Models.Bike

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<h4>@Model.title</h4>
<p>@Model.type</p>
<p>@Model.description</p>
<p>@Model.price</p>
<p>@Model.orders</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bikeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


