﻿@model IEnumerable<BikeRentalCompany.Models.Bike>

@{
    ViewBag.Title = "List";
}

<div class="bikebanner" id="bikebanner">
</div>
<br />
<h2>Bikes</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<table id="MyTable" class="table">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Orders</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.title</td>
            <td>@item.type</td>
            <td>@item.description</td>
            <td>@item.price</td>
            <td>@item.orders</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.bikeId }) | @Html.ActionLink("Details", "Details", new { id = item.bikeId }) | @Html.ActionLink("Delete", "Delete", new { id = item.bikeId })</td>
        </tr>
    }
</table>


