﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Rental Company</title>
          @Styles.Render("~/Content/css")
          @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pages CMS", "Index", "Page", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bike", "List", "Bike")</li>
                    <li>@Html.ActionLink("Order", "List", "Order")</li>
                    <li>@Html.ActionLink("Clients", "List", "Clients")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="container-context">
            @RenderBody()<hr />
        </div>
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Maria Korolenko - Bike Rental Company Web Site</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
